.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", Arial, sans-serif;
}

.heading {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right, violet, darkviolet);
  color: white;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 1%;
}

.heading--logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}

.heading--img {
  height: 2em;
  padding-right: 10px;
}

.heading--description {
  padding-right: 30px;
}

.generator {
  width: 500px;
  margin: auto;
}

.generator--button {
  width: 100%;
  height: 2.5em;
  background-image: linear-gradient(to right, violet, darkviolet);
  border: 0;
  border-radius: 3px;
  color: white;
  margin: 10px 0px;
}

.generator--input {
  height: 2em;
  display: flex;

  justify-content: space-between;
}

.generator--input > input {
  width: 47.5%;
}

.result {
  position: relative;
  width: 500px;
  margin: auto;
  
}

.result--text {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.result--text > p {
  font-size: 3.5em;
  color: white;
  text-shadow: 1px 1px black;
  font-family:"Anton", Arial, sans-serif;
  margin: 10px;
}

.result--picture {
  width: 100%;
}