.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", Arial, sans-serif;
}

main {
  padding: 36px;
}

.heading {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, violet, darkviolet);
  color: white;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  margin-bottom: 1%;
}

.heading--title {
  font-size: 1.25rem;
  font-weight: 700;
}

.heading--logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.heading--img {
  height: 2em;
  padding-right: 10px;
}

.heading--description {
  padding-right: 20px;
  font-size: 0.75rem;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
}

.form--input {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Poppins", Arial, sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  font-weight: 400;
  color: white;
  background: linear-gradient(to right, violet, darkviolet);
  cursor: pointer;
}

.meme {
  position: relative;
  text-align: center;
}

.meme--textUpper {
  position: absolute;
  left: 50%;
  top: 10px;
  font-size: 32px;
  font-family: "Anton", Arial, sans-serif;
  text-shadow: 1px 1px darkgray;
}

.meme--textLower {
  position: absolute;
  left: 50%;
  bottom: 10px;
  font-size: 32px;
  font-family: "Anton", Arial, sans-serif;
  text-shadow: 1px 1px darkgray;
}

.meme--img {
  max-width: 100%;
}

.contact--star {
  height: 1.5rem;
}

.boxer--box {
  border: 1px solid black;
  background: transparent;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 10px;
}